.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

iframe {
  display: none;
}

#project-tab .ant-tabs-nav {
  padding: 0 12px;
}

#project-tab .ant-tabs-nav::before {
  border: none;
}

.ant-table-row {
  cursor: pointer;
}

.new-report .ql-editor{
  min-height:200px;
}

.group-item-active {
  background-color: #e6f7ff;
}

.group-item:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.box-shadow-group-img {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.group-tab .ant-tabs-nav::before {
  border: none !important;
}

.modal-preview-image .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
}

.post-action-button {
  padding: 8px;
  border-radius: 10px;
}

.post-action-button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.post-compose-input {
  padding: 10px 16px;
  cursor: text;
  background-color: #FAFAFB;
  border-radius: 20px;
}

.new-post-form .ql-editor {
  min-height: 100px;
}.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

iframe {
  display: none;
}

#project-tab .ant-tabs-nav {
  padding: 0 12px;
}

#project-tab .ant-tabs-nav::before {
  border: none;
}

.ant-table-row {
  cursor: pointer;
}

.new-report .ql-editor{
  min-height:200px;
}

.group-item-active {
  background-color: #e6f7ff;
}

.group-item:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.box-shadow-group-img {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.group-tab .ant-tabs-nav::before {
  border: none !important;
}

.modal-preview-image .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
}

.post-action-button {
  padding: 8px;
  border-radius: 10px;
}

.post-action-button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.post-compose-input {
  padding: 10px 16px;
  cursor: text;
  background-color: #FAFAFB;
  border-radius: 20px;
}

.post-compose-input:hover {
  background-color: #f0f2f5;
}

.new-post-form .ql-editor {
  min-height: 100px;
  max-height: 220px;
  overflow-y: auto;
}

.post-photo-action {
  display: none;
}

.post-photo-wrapper:hover .post-photo-action {
  display: flex;
}

.reply-button:hover {
  text-decoration: underline;
}